/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(homepage.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	background-color: #252121;
	max-width: 70rem;
	margin:auto;
}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 70rem;
	margin:auto;
	background-color: #ffffff;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 1.5em 1.5em 4em;
	}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
	display: grid;
	grid-template-columns: 2fr 3fr;
	background: #2b1c13;
	padding: 1em .5em .5em .5em;
	}

h1 {
	width: 26em;
	margin-top: .5em;
	}

h2, h3, h4 {
		font-weight: bold;
	}

h2 {
	font-size: 2em;
	margin: 1em 0em .5em;
	}
	
h3 {
	font-size: 1.25em;
	margin: 1em 0em .25em;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}

ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 2em 0em;
}	

main.menu ul li {
		margin: 1em 0em 2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1em 0em 1em;
	}
	
p.description {
	grid-column: 1/3;
	grid-row:2/3;
	margin: 0em;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(64, 97, 70);
	text-align: right;
	margin: 0em;
	font-weight: bold;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin: .5em .5em 1em;
	}
	
nav ul li a {
	color:rgb(255, 255, 255);
	padding: .5em .5em .35em;
	}

nav ul li.selected a {
	color:#d4ae8e;
	text-decoration: underline;
	}

p.slogan {
	font-size: 4em;
	font-family: "warbler-deck", sans-serif;
	font-style: italic;
	margin: 2.75em 0em .25em;
	text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
	color: #ffffff;	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em .5em;
  background: #d4ae8e;
}

.address-home {
  color: #ffffff;
}

.address-about {
	color: rgb(0, 0, 0);
	}

footer p {
	margin: 0;
}

body {
	background-color: #2b1c13;
	font-family: "itc-american-typewriter", serif;
	font-weight: 300;
	font-style: normal;
}

article { 
	max-width: 40em;
	margin: auto;
}

@media screen and (min-width: 60em) {
	nav ul li {
		display: inline;
		font-size: 1.5rem;}
	nav {
		margin: 1.5rem;
	}
	main.menu ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem 1rem;
	}
	}